<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <h4>FeatureTogglesService example</h4>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <tabset>
          <tab heading="getAllFeaturesEnabledByLevel">
            <textarea readonly disabled style="width:500px;height:100px">this.featureToggleService.getAllFeaturesEnabledByLevel().subscribe(val =>
  console.log(JSON.stringify(val));
  this.getAllFeaturesOutput = JSON.stringify(val, null, 2);
});
        </textarea>
            <div><button class="btn btn-default" (click)="getAllFeaturesEnabledByLevel()">Get All Features Enabled By Level</button></div>

          </tab>
          <tab heading="getAllFeaturesByIds">
            <textarea readonly disabled style="width:500px;height:100px">this.featureToggleService.getFeatures(['Test']).subscribe(val => {
      console.log(JSON.stringify(val));
      this.getAllFeaturesOutput = JSON.stringify(val, null, 2);
    });
        </textarea>
            <div><button class="btn btn-default" (click)="getAllFeaturesEnabledByIds()">Get Features</button></div>

          </tab>
        </tabset>

          <textarea readonly style="width:500px;height:700px">{{getAllFeaturesOutput}}</textarea>
      </div>
    </div>
  </div>

<div class="row padding-top-10">
  <div class="col-sm-12">
    <h4>Code</h4>
    <hr/>
  </div>
</div>
<div>
  <tabset>
    <tab heading="typescript">
      <app-include-content src="app/feature-toggle-service/feature-toggle-service.example.component.ts"></app-include-content>
    </tab>
  </tabset>
</div>
